<div class="container">
  <div class="mt-3 mb-4">
    <label for="dad-joke-search-input" class="form-label">
      Search Dad Jokes
    </label>
    <AutocompleteInput
      id="dad-joke-search-input"
      class="form-control"
      placeholder="Example: Why did"
      @search={{this.searchDadJokes}}
      @options={{this.dadJokes}}
    />
  </div>
  <div>
    <label for="repo-search-input" class="form-label">
      Search GitHub Repositories
    </label>
    <AutocompleteInput
      id="repo-search-input"
      class="form-control"
      placeholder="Example: ember"
      @search={{this.searchRepos}}
      @options={{this.repos}}
    />
  </div>
</div>